* {
    border: 2px solid black;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  font-family: montserrat, helvetica, sans-serif;
  background-image: url('background-white.png');
}

.header img{
    width: 10%;
    height: 10%;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	float: right;
	padding: 10px;
	color: black;
}

.jumbotron {
  height: 800px;
  background-image: url('background-white.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: montserrat, helvetica, sans-seif;
}

.main img {
    width: 50%;
    height: 50%;
    margin: 50px 0px 10px 50px;
    display: inline-block;
    float: left;
    position: relative;
}

.welcome {
    font-family: lato, helvetica, sans-serif;
    float: right;
    display: inline-block;
    margin: 80px 20px 10px 0px;
    padding: auto;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
