* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
    background-image: url(background-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: fixed;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header img{
    width: 100px;
    height: 50px;
}

.header a{
    float: right;
    font-size: 20px;
    padding-right: 30px;
    padding-top: 10px;
    vertical-align: top;
    color: black;
    font-family: montserrat, helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}


.main {
    background-image: url(background-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

.main img{
    width: 60%;
    height: 60%;
    float: left;
    display: inline-block;
    vertical-align: middle;
}

.text {
    font-family: lato;
    color: black;
    float: right;
    vertical-align: middle;
    display: inline-block;
    padding-top: 100px;
    padding-right: 90px;
    padding-left: 10px;
    width: 40%;
}

.text p {
    font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

#projects {
    background-image: url(concrete.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.protitle{
    padding-top: 60px;
    font-family: Montserrat, lato, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.col {
  float: left;
  width: 33%;
  font-family: Montserrat, lato, sans-serif;
  text-align: center;
  padding-top: 50px;
}

#projects img{
  height: 200px;
}

#projects h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

#projects p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

#projects .learn {
    padding-top: 100px;
    padding-bottom: 80px;
    font-family: Montserrat, lato, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

#films {
    background-image: url(wall.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    clear: both;
}

#films h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

#films p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

#igloo {
    background-image: url(ice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

#igloo .col1 {
  font-family: Montserrat, lato, sans-serif;
  margin: auto;
  padding-top: 50px;
}

#igloo img {
    width: 10%;
    height: 10%;
    display: inline-block;
}

.footer {
  background-image: url(background-white.png);
  color: black;
  padding: 10px 0;
  background-size: cover;
}

.footer p {
  font-family: Montserrat, lato, sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
}